<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <ul>
        <li v-for="item in list">{{item}}</li>
      </ul>
      <ul>
        <li v-for="(item,index) in list">{{item}} 和 {{index}}</li>
      </ul>
      <ul>
        <li v-for="(value,prop) in obj">{{value}} 和 {{prop}}</li>
      </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
      const vm = new Vue({
        el: '#app',
        data: {
          list: ['胡宇桐', '田鸿杰', '李润祺'],
          obj: {
            name: '啦啦啦',
            age: 66,
            desc: '坚固',
          },
        },
      });
    </script>
  </body>
</html>
